 
---

 <span style="color: Yellow; font-size: 250%; font-weight: bold;">Title : Create a Simple Neural Network in python Using 
 Tensorflow</span>
 
 ---

`Auther Name` : __Muhammad Irfan__\
`Email` : irfan.datalytics@gmail.com\
`Github` : https://github.com/irfan5006\ \
`Linkedln` :https://www.linkedin.com/in/muhammad-irfan-a15359247

`Date` : 24-Jan-2024


 <span style="color: skyblue; font-size: 150%; font-weight: bold;">Defination of Neural Network</span>

 A neural network in deep learning is a `computational model` inspired by the human brain, composed of interconnected nodes organized into layers. It processes information through weighted connections, learning patterns and relationships in data to make `predictions` or `classifications`.

# **`Import Libraries`**

In [64]:
# Handle The data 
import pandas as pd 
import numpy as np 

# For Visualize the data 
import matplotlib.pyplot as plt
import seaborn as sns 

# For Split data and standardsscale
from sklearn.preprocessing import StandardScaler
from sklearn.model_selection import train_test_split

# For Neural Network
import tensorflow as tf

 
 <span style="color: orange; font-size: 250%; font-weight: bold;">Steps before Creating a Neural Network (Preprocess the Data)</span>

* **Missing Values**
* **Outliers**
* **Scaling**
* **Encoding**

In [65]:
#remove warnings
import warnings
warnings.filterwarnings('ignore')

# Load the dataset of titanic using sns 
df = sns.load_dataset('titanic')
df.head()

# Impute the Missing values using simpleimputer
from sklearn.impute import SimpleImputer

imputer = SimpleImputer(strategy='median')
df['age'] = imputer.fit_transform(df[['age']])

# Drop the deck column
df.drop('deck',axis=1,inplace=True)

# Converting categorical variables to dummy variables
titanic = pd.get_dummies(df, columns=['sex', 'embarked', 'class', 'who'], drop_first=True)
titanic.head()

,survived,pclass,age,sibsp,parch,fare,adult_male,embark_town,alive,alone,sex_male,embarked_Q,embarked_S,class_Second,class_Third,who_man,who_woman
0,0,3,22.0,1,0,7.2500,True,Southampton,no,False,True,False,True,False,True,True,False
1,1,1,38.0,1,0,71.2833,False,Cherbourg,yes,False,False,False,False,False,False,False,True
2,1,3,26.0,0,0,7.9250,False,Southampton,yes,True,False,False,True,False,True,False,True
3,1,1,35.0,1,0,53.1000,False,Southampton,yes,False,False,False,True,False,False,False,True
4,0,3,35.0,0,0,8.0500,True,Southampton,no,True,True,False,True,False,True,True,False

In [66]:
# Selecting features and target
X = titanic.drop(['survived', 'alive', 'embark_town', 'adult_male', 'alone'], axis=1)
y = titanic['survived']

# Split the data
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=42)

# Standardizing the data
scaler = StandardScaler()
X_train = scaler.fit_transform(X_train)
X_test = scaler.transform(X_test)

In [67]:
# Build The Model

# Define the Input layer of the model
input_layer = tf.keras.layers.Dense(10, activation='relu', input_shape=(X_train.shape[1],))

# Define The Output layer of the model
output_layer =  tf.keras.layers.Dense(1, activation='sigmoid')

# Combine The layer into the model
model = tf.keras.models.Sequential([input_layer, output_layer])

# Compile The Model
history = model.compile(optimizer='adam', 
              loss='binary_crossentropy', 
              metrics=['accuracy'])

In [68]:
%%time

history= model.fit(X_train, y_train, epochs=20, batch_size=32, verbose=1)

Epoch 1/20

23/23 [==============================] - 1s 3ms/step - loss: 0.7782 - accuracy: 0.3933
Epoch 2/20
23/23 [==============================] - 0s 4ms/step - loss: 0.6921 - accuracy: 0.5183
Epoch 3/20
23/23 [==============================] - 0s 4ms/step - loss: 0.6326 - accuracy: 0.6503
Epoch 4/20
23/23 [==============================] - 0s 3ms/step - loss: 0.5944 - accuracy: 0.6784
Epoch 5/20
23/23 [==============================] - 0s 4ms/step - loss: 0.5688 - accuracy: 0.7037
Epoch 6/20
23/23 [==============================] - 0s 3ms/step - loss: 0.5517 - accuracy: 0.7205
Epoch 7/20
23/23 [==============================] - 0s 3ms/step - loss: 0.5385 - accuracy: 0.7374
Epoch 8/20
23/23 [==============================] - 0s 4ms/step - loss: 0.5280 - accuracy: 0.7458
Epoch 9/20
23/23 [==============================] - 0s 4ms/step - loss: 0.5186 - accuracy: 0.7584
Epoch 10/20
23/23 [==============================] - 0s 4ms/step - loss: 0.5099 - accuracy: 0.7725
Epoch 11/20
23/23 [==============================] - 0s 4ms/step - loss: 0.5012 - accuracy: 0.7879
Epoch 12/20
23/23 [==============================] - 0s 4ms/step - loss: 0.4935 - accuracy: 0.7949
Epoch 13/20
23/23 [==============================] - 0s 4ms/step - loss: 0.4854 - accuracy: 0.8090
Epoch 14/20
23/23 [==============================] - 0s 4ms/step - loss: 0.4785 - accuracy: 0.8160
Epoch 15/20
23/23 [==============================] - 0s 4ms/step - loss: 0.4715 - accuracy: 0.8188
Epoch 16/20
23/23 [==============================] - 0s 5ms/step - loss: 0.4652 - accuracy: 0.8216
Epoch 17/20
23/23 [==============================] - 0s 4ms/step - loss: 0.4595 - accuracy: 0.8216
Epoch 18/20
23/23 [==============================] - 0s 5ms/step - loss: 0.4539 - accuracy: 0.8216
Epoch 19/20
23/23 [==============================] - 0s 5ms/step - loss: 0.4490 - accuracy: 0.8202
Epoch 20/20
23/23 [==============================] - 0s 5ms/step - loss: 0.4448 - accuracy: 0.8188
CPU times: total: 4.61 s
Wall time: 3.45 s

In [69]:
# Evaluating the model
loss, accuracy = model.evaluate(X_test, y_test, verbose=1)
print(f"Test Accuracy: {accuracy}")
print(f"Test Loss: {loss}")

6/6 [==============================] - 0s 4ms/step - loss: 0.4380 - accuracy: 0.8045
Test Accuracy: 0.8044692873954773
Test Loss: 0.4379996061325073

---